#aumentar{

    width: 300px;
    height: 50px;
    font-size: 25px;
    color:rgb(255, 255, 255);
    background-color: rgb(241, 6, 183);

}
#Bdisminuir{

    width: 300px;
    height: 50px;
    font-size: 25px;
    color:rgb(255, 255, 255);
    background-color: rgb(241, 6, 183);

}
